<div style="width:550px; padding:15px; font-family:arial;margin:auto;">
	<div style="text-align:center;width:100%;height:35px;color: #fed136;font-weight: 600;font-size: 20px;">
		SUNLIFE EMPLOYMENT SOLUTIONS
	</div>
	<div style="background:#f7f7f7; padding:25px 28px;margin-top:10px;">
		<h1 style="font-size:20px; color:#03887b; padding:0; margin:0">New Contact details Receved</h1>
	</div>
	<div style="background:#f7f7f7; padding:0 40px;margin-top:10px;text-align:center;">
		<table border="0" style="font-size:10px;width:100%; line-height:14px;color:#434343;">
			<tr>
				<td style="vertical-align:top;width:200px;font-size:14px;">
					<b>Looking For JOB: </b><br><%= data.job_type %>
				</td>
                <td style="vertical-align:top;width:200px;font-size:14px;">
					<b>EXPERIENCE: </b><br><%= data.experience %>
				</td>
			</tr>
            <tr>
				<td style="vertical-align:top;width:150px;font-size:14px;">
					<b>FULL NAME: </b><br><%= data.full_name %>
				</td>
                <td style="vertical-align:top;width:150px;font-size:14px;">
					<b>PHONE: </b><br><%= data.phone_number %>
				</td>
                <td style="vertical-align:top;width:150px;font-size:14px;">
					<b>EMAIL ADDRESS: </b><br><%= data.email %>
				</td>
			</tr>
            <tr>
				<td style="vertical-align:top;width:200px;font-size:14px;">
					<b>ADDRESS: </b><br><%= data.address %>
				</td>
                <td style="vertical-align:top;width:200px;font-size:14px;">
					<b>Message: </b><br><%= data.cnt_msg %>
				</td>
			</tr>
		</table>
	</div>
    
	<div style="margin-top:10px;border-top:2px solid #ccc; padding:10px 0;">
		<table border="0" style="font-size:10px;width:100%; line-height:14px;color:#434343;">
			<tr>
				<td style="vertical-align:top;width:150px;">
					<a href="#" style="color:#434343; text-decoration:none;">HELP CENTNTER</a><br>
					<a href="#" style="color:#434343; text-decoration:none;">CONTACT US</a>
				</td>
				<td style="vertical-align:top;width:180px;">1030 KAMATO RD, SUITE 210 <br>MISSISSAUGA ON, L4W 436 <br>CANADA</td>
				<td style="vertical-align:top;">ON THE WEB <br>SESJOBS.CA</td>
			</tr>
		</table>
	</div>
	<div style="padding:10px 0;text-align:center;">
		<a href="#" style="display: inline-block;width:72px;margin-right:5px;"><img src="http://supportmytalent.in/assets/images/appstore.png" width="72" alt="App Store" title="App Store" /></a>
		<a href="#" style="display: inline-block;width:72px;margin-right:5px;"><img src="http://supportmytalent.in/assets/images/googleplay.png" width="72" alt="Google Play Store" title="Google Play Store" /></a>
	</div>
</div>
